@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    // FONTS

    //Heading h1
    --heading-h1-font-size: 60px;
    --heading-h1-font-weight: 700;
    --heading-h1-line-height: 1.6em;

    //Heading h2
    --heading-h2-font-size: 50px;
    --heading-h2-font-weight: 700;
    --heading-h2-line-height: 1.2em;
    // Heading h3 
    --heading-h3-font-size: 40px;
    --heading-h3-font-weight: 600;
    --heading-h3-line-height: 1.1em;
    //Body main text regular
    --body-main-text-regular-font-size: 20px;
    --body-main-text-regular-line-height: 1.6em;

    //Caption text
    --caption-text-font-size: 15px;

    //Intro text
    --intro-text-font-size: 24px;

    //Heading h4 text 
    --heading-h4-font-size: 24px;
    --heading-h4-font-weight: 600;

    //LOGO 
    --logo-width: 50px;

    // SIGN UP BUTTON
    --sign-up-button-padding-y: 18px;
    --sign-up-button-padding-x: 60px;

    // SECONDARY BUTTON DARK
    --secondary-button-dark-width: 200px;
    --secondary-button-dark-height: 50px;
    --secondary-button-dark-image-width: 120px;
    // PHONE FRAME IMAGE
    // Size
    --phone-frame-image-width: 900px;
    // Transform
    --phone-frame-image-translate-x: -160px;
    --phone-frame-image-translate-y: -50px;

    //PAYMENT CARD
    --payment-card-image-width: 680px;

    //CARD
    --card-border-radius: 50px;

    //CHECKS
    --check-size: 25px;

    //PLUS
    --plus-icon-width: 35px;

    // MEDIA QUERIES //
    @media screen and (max-width: 1400px) {
        --heading-h1-font-size: 50px;
        --heading-h1-line-height: 1.5em;
        --heading-h2-font-size: 45px;
        --heading-h3-font-size: 35px;
        --phone-frame-image-width: 600px;
        --body-main-text-regular-font-size: 20px;
        --body-main-text-regular-line-height: 1.5em;
        --phone-frame-image-translate-x: -80px;
        --phone-frame-image-translate-y: -10px;
        --sign-up-button-padding-y: 15px;
        --sign-up-button-padding-x: 50px;
        --secondary-button-dark-width: 180px;
        --secondary-button-dark-height: 45px;
        --secondary-button-dark-image-width: 120px;
        --payment-card-image-width: 500px;
    }

    @media screen and (max-width: 1200px) {
        --heading-h1-font-size: 40px;
        --heading-h1-line-height: 1.4em;
        --heading-h2-font-size: 40px;
        --heading-h3-font-size: 30px;
        --heading-h4-font-size: 22px;
        --intro-text-font-size: 22px;
        --body-main-text-regular-font-size: 18px;
        --body-main-text-regular-line-height: 1.4em;
        --phone-frame-image-width: 550px;
        --phone-frame-image-translate-x: -90px;
        --phone-frame-image-translate-y: -20px;
        --sign-up-button-padding-y: 12px;
        --sign-up-button-padding-x: 40px;
        --logo-width: 45px;
        --secondary-button-dark-width: 160px;
        --secondary-button-dark-height: 40px;
        --secondary-button-dark-image-width: 100px;
        --payment-card-image-width: 400px;
        --card-border-radius: 45px;
        --check-size: 23px;
        --plus-icon-width: 32px;
    }

    @media screen and (max-width: 1000px) {
        --heading-h1-font-size: 30px;
        --heading-h1-line-height: 1.3em;
        --heading-h2-font-size: 30px;
        --heading-h3-font-size: 20px;
        --heading-h4-font-size: 19px;
        --intro-text-font-size: 18px;
        --body-main-text-regular-font-size: 16px;
        --body-main-text-regular-line-height: 1.3em;
        --caption-text-font-size: 12px;
        --phone-frame-image-width: 450px;
        --phone-frame-image-translate-x: -90px;
        --phone-frame-image-translate-y: -20px;
        --sign-up-button-padding-y: 12px;
        --sign-up-button-padding-x: 35px;
        --logo-width: 40px;
        --secondary-button-dark-width: 140px;
        --secondary-button-dark-height: 35px;
        --secondary-button-dark-image-width: 85px;
        --payment-card-image-width: 350px;
        --card-border-radius: 40px;
        --check-size: 20px;
        --plus-icon-width: 30px;
    }

    @media screen and (max-width: 800px) {
        --heading-h1-font-size: 25px;
        --heading-h1-line-height: 1.2em;
        --heading-h2-font-size: 25px;
        --heading-h2-line-height: 1.1em;
        --heading-h3-font-size: 15px;
        --heading-h4-font-size: 15px;
        --intro-text-font-size: 15px;
        --body-main-text-regular-font-size: 14px;
        --body-main-text-regular-line-height: 1.2em;
        --caption-text-font-size: 10px;
        --phone-frame-image-width: 350px;
        --phone-frame-image-translate-x: -50px;
        --phone-frame-image-translate-y: -20px;
        --sign-up-button-padding-y: 12px;
        --sign-up-button-padding-x: 30px;
        --logo-width: 30px;
        --secondary-button-dark-width: 120px;
        --secondary-button-dark-height: 30px;
        --secondary-button-dark-image-width: 75px;
        --payment-card-image-width: 250px;
        --card-border-radius: 30px;
        --check-size: 15px;
        --plus-icon-width: 25px;
    }

    @media screen and (max-width: 600px) {
        --heading-h1-font-size: 23px;
        --heading-h1-line-height: 1.1em;
        --heading-h2-font-size: 20px;
        --heading-h2-line-height: 1.1em;
        --heading-h3-font-size: 14px;
        --heading-h4-font-size: 14px;
        --intro-text-font-size: 13px;
        --body-main-text-regular-font-size: 13px;
        --body-main-text-regular-line-height: 1.1em;
        --phone-frame-image-width: 290px;
        --phone-frame-image-translate-x: -40px;
        --phone-frame-image-translate-y: -10px;
        --sign-up-button-padding-y: 10px;
        --sign-up-button-padding-x: 25px;
        --logo-width: 25px;
        --secondary-button-dark-width: 100px;
        --secondary-button-dark-height: 25px;
        --secondary-button-dark-image-width: 65px;
        --payment-card-image-width: 200px;
        --card-border-radius: 25px;
        --check-size: 12px;
        --plus-icon-width: 22px;
    }

    @media screen and (max-width: 500px) {
        --heading-h1-font-size: 18px;
        --heading-h1-line-height: 1.1em;
        --heading-h2-font-size: 15px;
        --heading-h2-line-height: 1em;
        --heading-h3-font-size: 13px;
        --heading-h4-font-size: 13px;
        --intro-text-font-size: 12px;
        --body-main-text-regular-font-size: 12px;
        --body-main-text-regular-line-height: 1.1em;
        --phone-frame-image-width: 230px;
        --phone-frame-image-translate-x: -35px;
        --phone-frame-image-translate-y: -10px;
        --sign-up-button-padding-y: 9px;
        --sign-up-button-padding-x: 20px;
        --logo-width: 25px;
        --payment-card-image-width: 150px;
        --card-border-radius: 20px;
        --plus-icon-width: 18px;
    }

    @media screen and (max-width: 400px) {
        --heading-h1-font-size: 17px;
        --heading-h1-line-height: 1.1em;
        --body-main-text-regular-font-size: 11px;
        --body-main-text-regular-line-height: 1.1em;
        --phone-frame-image-width: 200px;
        --phone-frame-image-translate-x: -30px;
        --phone-frame-image-translate-y: 0px;
        --sign-up-button-padding-y: 8px;
        --sign-up-button-padding-x: 18px;
        --logo-width: 20px;

    }



}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;

    &.no-scroll {
        overflow: hidden;

    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    transition: all 0.3s ease;
    --primary-color: #544dde;
    --accent-color: #f44e78;
    --background-color: #f2f6ff;
    --neutral-color: #f2f6ff;
    --stroke-color: #cad6f1;
    --footer-color: #dce2f0;
    --secondary-light-color: #6a6d9e;
    --secondary-dark-color: #16194f;
    --card-bg-color: #ffffff;
    --text-color: #000000;
    --disabeled-text-color: #b7b7b7;

    &.dark-theme {
        --background-color: #111112;
        --stroke-color: #51545b;
        --footer-color: #26272a;
        --secondary-light-color: #6a6d9e;
        --secondary-dark-color: #3339ac;
        --card-bg-color: #221f1f;
        --text-color: #ffffff;
        --disabeled-text-color: #767474;
    }

    background-color: var(--background-color);
    position: relative;


    .secondary-button-dark {
        background-color: var(--secondary-dark-color);
        width: var(--secondary-button-dark-width);
        height: var(--secondary-button-dark-height);
        border-radius: 20px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;

        &__image {
            width: var(--secondary-button-dark-image-width);
            height: auto;
        }

        &:hover {
            transform: translateX(5px) translateY(-5px);
        }
        &--outline {
            border: 2px solid var(--secondary-dark-color);
            width: var(--secondary-button-dark-width);
            height: var(--secondary-button-dark-height);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--card-bg-color);
            color: var(--secondary-dark-color);
            font-family: 'Roboto', sans-serif;
            font-size: var(--caption-text-font-size);
            transition: all 0.3s;

            &:hover {
                background-color: var(--secondary-dark-color);
                color: var(--neutral-color);
            }
        }
    }

    #registerAlertContainer {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #111112ae;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;

        &.hidden {
            overflow: hidden;
            z-index: -1;
            opacity: 0;
            transition: 0.5s ease;
        }

        .register-alert {
            position: relative;
            width: 35%;
            height: auto;
            background-color: var(--background-color);
            opacity: 1;
            border: 2px solid var(--primary-color);
            font-family: 'Roboto', sans-serif;
            border-radius: 30px;
            color: var(--text-color);
            overflow-y: scroll;
            scrollbar-width: none;

            @media screen and (max-height: 480px) {
                height: 90%;
            }

            &__content {
                &__header {
                    margin-top: 7%;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    font-size: var(--heading-h3-font-size);
                }

                &__form {
                    margin-top: 5%;
                    margin-left: 10%;
                    display: flex;
                    flex-direction: column;
                    height: 90%;

                    &__link-div {
                        display: flex;
                        justify-content: center;
                        font-size: var(--body-main-text-regular-font-size);

                        &__link {
                            margin-left: 1%;
                            color: var(--secondary-light-color);
                            transition: all 0.3s ease;

                            &:hover {
                                color: var(--secondary-dark-color);
                            }
                        }
                    }

                    &__inputs {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        &__input-group {
                            margin-top: 5%;
                            display: flex;
                            flex-direction: column;

                            &__label {
                                font-size: var(--body-main-text-regular-font-size);
                            }

                            &__input {
                                margin-top: 3%;
                                width: 85%;
                                padding: 3% 2%;
                                font-size: var(--body-main-text-regular-font-size);
                                border-radius: 10px;
                                border: 1px solid var(--stroke-color);
                                background-color: var(--background-color);
                                color: var(--text-color);
                            }
                        }

                    }

                    &__submit {
                        margin: 5% 10% 5% 0;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;

                        &__input {
                            padding: 2% 5%;
                            font-size: var(--body-main-text-regular-font-size);
                            border: none;
                            border-radius: 10px;
                            background-color: var(--secondary-dark-color);
                            color: #ffffff;
                            transition: all 0.3s ease;

                            &:hover {
                                background-color: var(--accent-color);

                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 1400px) {
                width: 40%;
            }

            @media screen and (max-width: 1200px) {
                width: 45%;
            }

            @media screen and (max-width: 1000px) {
                width: 50%;
            }

            @media screen and (max-width: 800px) {
                width: 60%;
            }

            @media screen and (max-width: 700px) {}

            @media screen and (max-width: 600px) {
                width: 70%;
            }

            @media screen and (max-width: 500px) {
                width: 75%;
            }

            @media screen and (max-width: 450px) {
                width: 75%;
            }

            @media screen and (max-width: 400px) {
                width: 80%;
            }
        }
    }

    .hero {
        position: relative;

        &::before {
            content: "";
            background: url('../src/images/mask_group.png') no-repeat center top / cover;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            @media screen and (max-width: 800px) {
                height: 140%;
            }
        }


        &__header {
            display: flex;
            justify-content: space-evenly;
            padding: 40px 0px 0px 20px;
            max-width: 100%;

            #themeToggleButton {
                border-radius: 100%;
                width: 4%;
                height: 4%;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                .theme-image {
                    width: 100%;
                    height: 100%;
                }

                @media screen and (max-width: 600px) {
                    width: 6%;
                    height: 6%;
                }
            }

            &__navbar {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 40%;
                font-family: 'Roboto', sans-serif;
                font-size: var(--body-main-text-regular-font-size);
                font-weight: 300;
                z-index: 1;

                &__item {

                    &__link {
                        transition: all 0.3s;
                        text-decoration: none;
                        color: var(--neutral-color);

                        &:hover {
                            color: var(--primary-color);
                        }
                    }

                }
            }

            &__button-container {
                display: flex;
                align-items: center;
                z-index: 1;

                &__button {
                    padding: var(--sign-up-button-padding-y) var(--sign-up-button-padding-x);
                    border: none;
                    border-radius: 20px;
                    background-color: var(--accent-color);
                    color: var(--neutral-color);
                    font-size: var(--body-main-text-regular-font-size);
                    transition: 500ms;

                    &:hover {
                        background-color: var(--secondary-light-color);
                    }
                }
            }
        }

        &__content-wrapper {
            display: flex;
            justify-content: space-evenly;

            &__left-content {
                z-index: 1;
                margin-left: 12%;
                display: flex;
                flex-direction: column;
                margin-top: 15%;

                &__header-text-container {
                    display: flex;
                    align-items: center;

                    &__text {
                        line-height: var(--heading-h1-line-height);
                        font-family: 'Roboto', sans-serif;
                        font-size: var(--heading-h1-font-size);
                        font-weight: var(--heading-h1-font-weight);
                        color: var(--neutral-color);
                    }
                }

                &__main-text-container {
                    display: flex;
                    align-items: center;
                    margin-top: 10%;

                    &__text {
                        line-height: var(--body-main-text-regular-line-height);
                        font-family: 'Roboto', sans-serif;
                        font-size: var(--body-main-text-regular-font-size);
                        color: var(--neutral-color);
                    }
                }

                &__button-container {
                    display: flex;
                    margin-top: 10%;


                }

            }

            &__right-content {
                transform: translateX(var(--phone-frame-image-translate-x)) translateY(var(--phone-frame-image-translate-y));

                &__image {
                    user-select: none;
                    width: var(--phone-frame-image-width);
                    height: auto;
                }
            }
        }
    }

    .feature-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0% 10% 0% 15%;

        &__content {
            margin-top: 10%;
            display: grid;
            grid-template-columns: 2fr 3fr;

            &__left {
                grid-column-start: 1;
                grid-column-end: 2;
                display: flex;
                flex-direction: column;

                &__header-text {
                    margin-bottom: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Roboto', sans-serif;
                    font-size: var(--heading-h2-font-size);
                    font-weight: var(--heading-h2-font-weight);
                    line-height: var(--heading-h2-line-height);
                    color: var(--primary-color);
                }

                &__main-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Roboto', sans-serif;
                    font-size: var(--body-main-text-regular-font-size);
                    font-weight: 100;
                    line-height: var(--body-main-text-regular-line-height);
                    color: var(--secondary-light-color);
                }
            }

            &__right {
                grid-column-start: 2;
                grid-column-end: 3;
                display: flex;
                justify-content: flex-end;

                &__card-image {
                    width: var(--payment-card-image-width);
                    transition: all 0.5s;

                    &:hover {
                        transform: translateX(7px) translateY(-7px);
                    }
                }
            }
        }

        @media screen and (max-width: 800px) {
            margin-top: 30%;
        }

    }

    .feature-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        padding: 0% 10% 0% 10%;

        &__content {
            display: grid;
            grid-template-columns: 7fr 1fr 5fr 1fr;

            &__left {
                grid-column-start: 1;
                grid-column-end: 2;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 2fr 3fr;
                flex-direction: column;
                justify-content: space-evenly;

                &__top {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 2;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 4%;

                    &__card {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        padding: 8% 11%;
                        margin: 2%;
                        background-color: var(--card-bg-color);
                        border: 1px solid var(--stroke-color);
                        border-radius: var(--card-border-radius);
                        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
                        transition: all 0.5s;

                        &__text-top {
                            font-family: 'Roboto', sans-serif;
                            font-size: var(--body-main-text-regular-font-size);
                            color: var(--text-color);
                            margin-bottom: 20%;
                        }

                        &__text-bottom {
                            font-family: 'Roboto', sans-serif;
                            font-size: var(--heading-h3-font-size);
                            font-weight: var(--heading-h3-font-weight);
                            color: var(--primary-color);
                        }

                        @media screen and (max-width: 500px) {
                            padding: 8% 8%;
                        }

                        &:hover {
                            transform: translateX(7px) translateY(-7px);
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
                        }
                    }
                }

                &__bottom {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 2;
                    grid-row-end: 3;

                    &__chart-card {
                        width: 100%;
                        padding: 6.5% 10%;
                        background-color: var(--card-bg-color);
                        border: 1px solid var(--stroke-color);
                        border-radius: var(--card-border-radius);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
                        transition: all 0.5s;

                        &__image {
                            width: 100%;
                        }

                        @media screen and (max-width: 500px) {
                            min-width: 110%;
                        }

                        &:hover {
                            transform: translateX(7px) translateY(-7px);
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }

            &__right {
                margin-left: 5%;
                grid-column-start: 3;
                grid-column-end: 4;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &__header-text {
                    font-family: 'Roboto', sans-serif;
                    font-size: var(--heading-h2-font-size);
                    font-weight: var(--heading-h2-font-weight);
                    line-height: var(--heading-h2-line-height);
                    color: var(--primary-color);

                }

                &__main-text {
                    margin-top: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Roboto', sans-serif;
                    font-size: var(--body-main-text-regular-font-size);
                    font-weight: 100;
                    line-height: var(--body-main-text-regular-line-height);
                    color: var(--secondary-light-color);
                }

                &__button-container {
                    margin-top: 6%;
                    display: flex;

                }
            }
        }
    }

    .feature-3 {
        margin-top: 10%;
        padding: 0% 8% 0% 12%;

        &__content {
            display: grid;
            grid-template-columns: 4fr 1fr 6fr;

            &__left {
                grid-column-start: 1;
                grid-column-end: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                &__header-text {
                    font-family: 'Roboto', sans-serif;
                    font-size: var(--heading-h2-font-size);
                    font-weight: var(--heading-h2-font-weight);
                    line-height: var(--heading-h2-line-height);
                    color: var(--primary-color);
                }

                &__main-text {
                    margin-top: 3%;
                    font-family: 'Roboto', sans-serif;
                    font-size: var(--body-main-text-regular-font-size);
                    line-height: var(--body-main-text-regular-line-height);
                    color: var(--secondary-light-color);
                }

                &__support-team {
                    margin-top: 3%;
                    display: flex;

                    &__image {
                        width: 60%;
                    }

                    &__text {
                        display: flex;
                        align-items: center;
                        margin-left: 2.5%;
                        font-family: 'Roboto', sans-serif;
                        font-size: var(--body-main-text-regular-font-size);
                        line-height: var(--body-main-text-regular-line-height);
                        color: var(--secondary-light-color);
                    }
                }
            }

            &__right {
                grid-column-start: 3;
                grid-column-end: 4;
                display: flex;
                justify-content: center;

                &__chat-image {
                    width: 80%;

                    @media screen and (max-width: 600px) {
                        width: 95%;
                    }
                }
            }
        }
    }

    .pricing {
        padding: 0% 10% 0% 8%;
        display: flex;
        justify-content: center;

        &__content {
            margin-top: 10%;

            &__header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__text {
                    display: flex;
                    font-family: 'Roboto', sans-serif;
                    font-size: var(--heading-h3-font-size);
                    font-weight: var(--heading-h3-font-weight);
                    color: var(--primary-color);

                    &__accented {
                        &::before {
                            content: "\00a0 at the right price";
                            font-size: var(--heading-h3-font-size);
                            font-weight: var(--heading-h3-font-weight);
                            color: var(--accent-color);
                        }
                    }
                }

                &__subtext {
                    text-align: center;
                    margin-top: 3%;
                    font-family: 'Roboto', sans-serif;
                    font-size: var(--intro-text-font-size);
                    color: var(--secondary-dark-color);
                }
            }

            &__main {
                margin-top: 14%;
                display: flex;

                &__card-container {
                    display: flex;
                    justify-content: center;

                    .pricing-card {
                        border: 0.5px solid var(--stroke-color);
                        padding: 8%;
                        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
                        background-color: var(--card-bg-color);
                        border-radius: 50px;
                        min-width: 75%;
                        max-width: 75%;
                        transition: all 0.5s;

                        &__header {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            text-align: center;

                            &__header-text {
                                font-family: 'Roboto', sans-serif;
                                font-size: var(--heading-h3-font-size);
                                color: var(--text-color);
                            }

                            &__price-text {
                                margin-top: 13%;
                                display: flex;
                                align-items: flex-end;
                                font-family: 'Roboto', sans-serif;
                                font-size: var(--heading-h1-font-size);
                                color: var(--text-color);

                                &__per-month {
                                    font-size: var(--heading-h3-font-size);
                                }
                            }

                            &__description-text {
                                margin-top: 15%;
                                text-align: center;
                                font-family: 'Roboto', sans-serif;
                                font-size: var(--body-main-text-regular-font-size);
                                line-height: var(--body-main-text-regular-line-height);
                                color: var(--secondary-light-color);
                            }

                            &__button-container {
                                margin-top: 10%;
                                justify-content: center;
                            }

                            &__payment-card-container {
                                margin-top: 5%;
                                display: flex;
                                width: 140%;

                                &__payment-card-image {
                                    width: 100%;
                                }

                                @media screen and (max-width:800px) {
                                    margin-top: 10%;
                                }

                                @media screen and (max-width:600px) {
                                    margin-top: 15%;
                                }
                            }
                        }

                        &__advantages-list {
                            font-family: 'Roboto', sans-serif;
                            font-size: var(--body-main-text-regular-font-size);
                            color: var(--text-color);

                            li {
                                background-image: url('../src/images/check.png');
                                background-size: var(--check-size);
                                background-repeat: no-repeat;
                                padding-left: 10%;
                                margin-bottom: 5%;

                                @media screen and (max-width:500px) {
                                    padding-left: 20%;
                                }
                            }

                            &-disabeled {
                                font-family: 'Roboto', sans-serif;
                                font-size: var(--body-main-text-regular-font-size);
                                color: var(--disabeled-text-color);

                                li {
                                    background-image: url('../src/images/disabled-check.png');
                                    background-size: var(--check-size);
                                    background-repeat: no-repeat;
                                    padding-left: 10%;
                                    margin-bottom: 5%;

                                    @media screen and (max-width:500px) {
                                        padding-left: 20%;
                                    }
                                }

                            }

                            &-accented {
                                font-family: 'Roboto', sans-serif;
                                font-size: var(--body-main-text-regular-font-size);
                                color: var(--secondary-dark-color);

                                li {
                                    background-image: url('../src/images/check.png');
                                    background-size: var(--check-size);
                                    background-repeat: no-repeat;
                                    padding-left: 10%;
                                    margin-bottom: 5%;

                                    @media screen and (max-width:500px) {
                                        padding-left: 20%;
                                    }
                                }
                            }
                        }

                        @media screen and (max-width: 1000px) {
                            min-width: 90%;
                            max-width: 90%;
                            padding: 10%;
                            border-radius: 40px;
                        }

                        @media screen and (max-width: 800px) {
                            min-width: 90%;
                            max-width: 90%;
                            padding: 10%;
                            border-radius: 30px;
                        }

                        @media screen and (max-width: 500px) {
                            min-width: 90%;
                            max-width: 90%;
                            padding: 10%;
                            border-radius: 20px;
                        }

                        &:hover {
                            transform: translateX(10px) translateY(-10px);
                            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }

        }
    }

    .faqs {
        margin-top: 15%;
        margin-bottom: 10%;
        padding: 0% 10% 0% 8%;
        display: flex;
        justify-content: center;

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__header {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                &__text {
                    display: flex;
                    font-family: 'Roboto', sans-serif;
                    font-size: var(--heading-h3-font-size);
                    font-weight: var(--heading-h3-font-weight);
                    line-height: var(--heading-h3-line-height);
                    color: var(--primary-color);

                    &__accented {
                        &::before {
                            content: '\00a0 asked questions';
                            color: var(--accent-color);
                        }
                    }
                }

                &__subtext {
                    text-align: center;
                    width: 50%;
                    margin-top: 3%;
                    font-family: 'Roboto', sans-serif;
                    font-size: var(--intro-text-font-size);
                    line-height: var(--body-main-text-regular-line-height);
                    color: var(--secondary-light-color);
                }
            }

            &__main {
                margin-top: 12%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .faq-card {
                    margin-top: 2%;
                    width: 85%;
                    border-radius: 22px;
                    background-color: var(--card-bg-color);
                    border: 0.2px solid var(--stroke-color);
                    transition: all 0.5s ease;

                    &__question {
                        border-radius: 22px;
                        padding: 2.5%;
                        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
                        transition: all 0.4s ease;

                        &.answered {
                            border-radius: 22px 22px 0 0;
                            border-bottom: 1px solid var(--stroke-color);
                            box-shadow: none;
                            transition: all 0.4s ease;
                        }

                        &__content {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &__text {
                                font-family: 'Roboto', sans-serif;
                                font-size: var(--heading-h4-font-size);
                                font-weight: var(--heading-h4-font-weight);
                                line-height: 1.2em;
                                color: var(--secondary-dark-color);
                            }

                            &__icon-container {
                                width: 4%;

                                &__icon {
                                    width: var(--plus-icon-width);
                                    height: auto;
                                }
                            }
                        }

                        @media screen and (max-width: 800px) {
                            border-radius: 15px;
                            width: 95%;
                            padding: 4%;
                        }
                    }

                    &__answer {
                        height: 0;
                        overflow: hidden;
                        transition: height 0.4s ease, padding 0.4s ease;

                        &__text {
                            padding: 0 3%;
                            font-family: 'Roboto', sans-serif;
                            font-size: var(--body-main-text-regular-font-size);
                            line-height: 150%;
                            color: var(--secondary-light-color);
                            opacity: 0;
                            transition: opacity 0.1s ease;
                        }

                        &.opened {
                            height: auto;
                            padding: 3%;

                            .faq-card__answer__text {
                                opacity: 1;
                                transition: opacity 0.4s ease 0.3s;
                            }
                        }
                    }

                    &:hover {
                        transform: translateY(-10px);
                        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }

    .footer {
        // margin-top: 10%;
        background-color: var(--footer-color);
        display: flex;
        justify-content: center;
        align-items: center;

        &__content {
            // margin-top: 10%;
            // margin-bottom: 10%;
            padding: 1%;
            display: grid;
            grid-template-columns: 2fr 3fr 2fr 5fr 1fr;
            grid-template-rows: 1fr 4fr 1fr;

            &__left {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 2;
                grid-column-end: 3;
                display: flex;
                flex-direction: column;

                &__copyright-text {
                    margin: auto;
                    max-width: 100%;
                    word-wrap: break-word;
                    margin-top: 10%;
                    font-family: 'Roboto', sans-serif;
                    font-size: var(--body-main-text-regular-font-size);
                    line-height: var(--body-main-text-regular-line-height);
                    color: var(--secondary-light-color);
                }

                &__logo-container {
                    &__logo {
                        width: 20%;

                        @media screen and (max-width: 800px) {
                            width: 30%;
                        }

                        @media screen and (max-width: 500px) {
                            width: 40%;
                        }
                    }
                }
            }

            &__right {
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 2;
                grid-row-end: 3;

                &__link-list {
                    display: grid;
                    grid-gap: 10%;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(3, 1fr);

                    &__list-element {
                        padding: 1%;

                        &__link {
                            font-family: 'Roboto', sans-serif;
                            font-size: var(--body-main-text-regular-font-size);
                            line-height: var(--body-main-text-regular-line-height);
                            color: var(--secondary-dark-color);
                            text-decoration: none;
                            transition: all 0.5s;

                            &:hover {
                                color: var(--primary-color) !important;
                            }
                        }
                    }
                }
            }
        }
    }

}
