:root {
  --primary-color: #544dde;
  --accent-color: #f44e78;
  --neutral-color: #f2f6ff;
  --stroke-color: #cad6f1;
  --secondary-light-color: #6a6d9e;
  --secondary-dark-color: #16194f;
  --heading-h1-font-size: 60px;
  --heading-h1-font-weight: 700;
  --heading-h1-line-height: 1.6em;
  --body-main-text-regular-font-size: 20px;
  --body-main-text-regular-line-height: 1.6em;
  --phone-frame-image-width: 900px;
  --phone-frame-image-translate-x: -120px;
  --phone-frame-image-translate-y: -70px;
}
@media (max-width: 1200px) {
  :root {
    --heading-h1-font-size: 50px;
    --heading-h1-line-height: 1.5em;
    --phone-frame-image-width: 500px;
    --body-main-text-regular-font-size: 28px;
    --body-main-text-regular-line-height: 1.2em;
    --phone-frame-image-translate-x: 0px;
    --phone-frame-image-translate-y: 70px;
  }
}

html {
  scroll-behavior: smooth;
}
html a {
  text-decoration: none;
  color: var(--neutral-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  background-color: var(--neutral-color);
  z-index: -2;
  position: relative;
}
main .hero {
  position: relative;
  height: 1500px;
  width: 100%;
}
main .hero::before {
  content: "";
  background: url("../src/images/mask_group.png") no-repeat center top/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: -1;
}
main .hero__header {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px 0px 20px;
}
main .hero__header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  color: var(--neutral-color);
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  font-weight: 100;
}
main .hero__header__button-container {
  display: flex;
  align-items: center;
}
main .hero__header__button-container__button {
  padding: 18px 60px;
  border: none;
  border-radius: 20px;
  background-color: var(--accent-color);
  color: var(--neutral-color);
  font-size: var(--body-main-text-regular-font-size);
}
main .hero__header__logo-container__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .hero__content-wrapper {
  display: flex;
  justify-content: space-evenly;
}
main .hero__content-wrapper__left-content {
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
main .hero__content-wrapper__left-content__header-text-container {
  display: flex;
  align-items: center;
}
main .hero__content-wrapper__left-content__header-text-container__text {
  line-height: var(--heading-h1-line-height);
  font-family: sans-serif;
  font-size: var(--heading-h1-font-size);
  font-weight: var(--heading-h1-font-weight);
  color: var(--neutral-color);
}
main .hero__content-wrapper__left-content__main-text-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
main .hero__content-wrapper__left-content__main-text-container__text {
  line-height: var(--body-main-text-regular-line-height);
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  color: var(--neutral-color);
}
main .hero__content-wrapper__left-content__button-container {
  display: flex;
  justify-content: baseline;
  margin-top: 50px;
}
main .hero__content-wrapper__left-content__button-container__button {
  background: url("../src/images/register_button_bg.png") no-repeat center;
  background-color: var(--secondary-dark-color);
  width: 200px;
  height: 54px;
  border-radius: 20px;
  border: none;
}
main .hero__content-wrapper__right-content {
  transform: translateX(var(--phone-frame-image-translate-x)) translateY(var(--phone-frame-image-translate-y));
}
main .hero__content-wrapper__right-content__image {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: var(--phone-frame-image-width);
  height: auto;
}
main .feature-1 {
  height: 1500px;
}
main .feature-2 {
  height: 1500px;
}
main .feature-3 {
  height: 1500px;
}
main .footer {
  height: 1500px;
}/*# sourceMappingURL=style.css.map */