@charset "UTF-8";
:root {
  --primary-color: #544dde;
  --accent-color: #f44e78;
  --neutral-color: #f2f6ff;
  --stroke-color: #cad6f1;
  --secondary-light-color: #6a6d9e;
  --secondary-dark-color: #16194f;
  --heading-h1-font-size: 60px;
  --heading-h1-font-weight: 700;
  --heading-h1-line-height: 1.6em;
  --heading-h2-font-size: 50px;
  --heading-h2-font-weight: 700;
  --heading-h2-line-height: 1.2em;
  --heading-h3-font-size: 40px;
  --heading-h3-font-weight: 600;
  --heading-h3-line-height: 1.1em;
  --body-main-text-regular-font-size: 20px;
  --body-main-text-regular-line-height: 1.6em;
  --caption-text-font-size: 15px;
  --intro-text-font-size: 24px;
  --heading-h4-font-size: 24px;
  --heading-h4-font-weight: 600;
  --logo-width: 50px;
  --sign-up-button-padding-y: 18px;
  --sign-up-button-padding-x: 60px;
  --secondary-button-dark-width: 200px;
  --secondary-button-dark-height: 50px;
  --secondary-button-dark-image-width: 120px;
  --phone-frame-image-width: 900px;
  --phone-frame-image-translate-x: -160px;
  --phone-frame-image-translate-y: -50px;
  --payment-card-image-width: 680px;
  --card-border-radius: 50px;
  --check-size: 25px;
  --plus-icon-width: 35px;
}
@media screen and (max-width: 1400px) {
  :root {
    --heading-h1-font-size: 50px;
    --heading-h1-line-height: 1.5em;
    --heading-h2-font-size: 45px;
    --heading-h3-font-size: 35px;
    --phone-frame-image-width: 600px;
    --body-main-text-regular-font-size: 20px;
    --body-main-text-regular-line-height: 1.5em;
    --phone-frame-image-translate-x: -80px;
    --phone-frame-image-translate-y: -10px;
    --sign-up-button-padding-y: 15px;
    --sign-up-button-padding-x: 50px;
    --secondary-button-dark-width: 180px;
    --secondary-button-dark-height: 45px;
    --secondary-button-dark-image-width: 120px;
    --payment-card-image-width: 500px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --heading-h1-font-size: 40px;
    --heading-h1-line-height: 1.4em;
    --heading-h2-font-size: 40px;
    --heading-h3-font-size: 30px;
    --heading-h4-font-size: 22px;
    --intro-text-font-size: 22px;
    --body-main-text-regular-font-size: 18px;
    --body-main-text-regular-line-height: 1.4em;
    --phone-frame-image-width: 550px;
    --phone-frame-image-translate-x: -90px;
    --phone-frame-image-translate-y: -20px;
    --sign-up-button-padding-y: 12px;
    --sign-up-button-padding-x: 40px;
    --logo-width: 45px;
    --secondary-button-dark-width: 160px;
    --secondary-button-dark-height: 40px;
    --secondary-button-dark-image-width: 100px;
    --payment-card-image-width: 400px;
    --card-border-radius: 45px;
    --check-size: 23px;
    --plus-icon-width: 32px;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    --heading-h1-font-size: 30px;
    --heading-h1-line-height: 1.3em;
    --heading-h2-font-size: 30px;
    --heading-h3-font-size: 20px;
    --heading-h4-font-size: 19px;
    --intro-text-font-size: 18px;
    --body-main-text-regular-font-size: 16px;
    --body-main-text-regular-line-height: 1.3em;
    --caption-text-font-size: 12px;
    --phone-frame-image-width: 450px;
    --phone-frame-image-translate-x: -90px;
    --phone-frame-image-translate-y: -20px;
    --sign-up-button-padding-y: 12px;
    --sign-up-button-padding-x: 35px;
    --logo-width: 40px;
    --secondary-button-dark-width: 140px;
    --secondary-button-dark-height: 35px;
    --secondary-button-dark-image-width: 85px;
    --payment-card-image-width: 350px;
    --card-border-radius: 40px;
    --check-size: 20px;
    --plus-icon-width: 30px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --heading-h1-font-size: 25px;
    --heading-h1-line-height: 1.2em;
    --heading-h2-font-size: 25px;
    --heading-h2-line-height: 1.1em;
    --heading-h3-font-size: 15px;
    --heading-h4-font-size: 15px;
    --intro-text-font-size: 15px;
    --body-main-text-regular-font-size: 14px;
    --body-main-text-regular-line-height: 1.2em;
    --caption-text-font-size: 10px;
    --phone-frame-image-width: 350px;
    --phone-frame-image-translate-x: -50px;
    --phone-frame-image-translate-y: -20px;
    --sign-up-button-padding-y: 12px;
    --sign-up-button-padding-x: 30px;
    --logo-width: 30px;
    --secondary-button-dark-width: 120px;
    --secondary-button-dark-height: 30px;
    --secondary-button-dark-image-width: 75px;
    --payment-card-image-width: 250px;
    --card-border-radius: 30px;
    --check-size: 15px;
    --plus-icon-width: 25px;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --heading-h1-font-size: 23px;
    --heading-h1-line-height: 1.1em;
    --heading-h2-font-size: 20px;
    --heading-h2-line-height: 1.1em;
    --heading-h3-font-size: 14px;
    --heading-h4-font-size: 14px;
    --intro-text-font-size: 13px;
    --body-main-text-regular-font-size: 13px;
    --body-main-text-regular-line-height: 1.1em;
    --phone-frame-image-width: 290px;
    --phone-frame-image-translate-x: -40px;
    --phone-frame-image-translate-y: -10px;
    --sign-up-button-padding-y: 10px;
    --sign-up-button-padding-x: 25px;
    --logo-width: 25px;
    --secondary-button-dark-width: 100px;
    --secondary-button-dark-height: 25px;
    --secondary-button-dark-image-width: 65px;
    --payment-card-image-width: 200px;
    --card-border-radius: 25px;
    --check-size: 12px;
    --plus-icon-width: 22px;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --heading-h1-font-size: 18px;
    --heading-h1-line-height: 1.1em;
    --heading-h2-font-size: 15px;
    --heading-h2-line-height: 1em;
    --heading-h3-font-size: 13px;
    --heading-h4-font-size: 13px;
    --intro-text-font-size: 12px;
    --body-main-text-regular-font-size: 12px;
    --body-main-text-regular-line-height: 1.1em;
    --phone-frame-image-width: 230px;
    --phone-frame-image-translate-x: -35px;
    --phone-frame-image-translate-y: -10px;
    --sign-up-button-padding-y: 9px;
    --sign-up-button-padding-x: 20px;
    --logo-width: 25px;
    --payment-card-image-width: 150px;
    --card-border-radius: 20px;
    --plus-icon-width: 18px;
  }
}
@media screen and (max-width: 400px) {
  :root {
    --heading-h1-font-size: 17px;
    --heading-h1-line-height: 1.1em;
    --body-main-text-regular-font-size: 11px;
    --body-main-text-regular-line-height: 1.1em;
    --phone-frame-image-width: 200px;
    --phone-frame-image-translate-x: -30px;
    --phone-frame-image-translate-y: 0px;
    --sign-up-button-padding-y: 8px;
    --sign-up-button-padding-x: 18px;
    --logo-width: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main {
  background-color: var(--neutral-color);
  position: relative;
}
.main .--secondary-button-dark {
  background-color: var(--secondary-dark-color);
  width: var(--secondary-button-dark-width);
  height: var(--secondary-button-dark-height);
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.main .--secondary-button-dark__image {
  width: var(--secondary-button-dark-image-width);
  height: auto;
}
.main .--secondary-button-dark:hover {
  transform: translateX(5px) translateY(-5px);
}
.main .--secondary-button-dark-outline {
  border: 2px solid var(--secondary-dark-color);
  width: var(--secondary-button-dark-width);
  height: var(--secondary-button-dark-height);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: var(--secondary-dark-color);
  font-family: sans-serif;
  font-size: var(--caption-text-font-size);
  transition: all 0.3s;
}
.main .--secondary-button-dark-outline:hover {
  background-color: var(--secondary-dark-color);
  color: var(--neutral-color);
}
.main .hero {
  position: relative;
}
.main .hero::before {
  content: "";
  background: url("../src/images/mask_group.png") no-repeat center top/cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
@media screen and (max-width: 800px) {
  .main .hero::before {
    height: 140%;
  }
}
.main .hero__header {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px 0px 20px;
  max-width: 100%;
}
.main .hero__header__logo-container {
  z-index: 1;
}
.main .hero__header__logo-container__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: var(--logo-width);
}
.main .hero__header__navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  font-weight: 300;
  z-index: 1;
}
.main .hero__header__navbar__item__link {
  transition: all 0.3s;
  text-decoration: none;
  color: var(--neutral-color);
}
.main .hero__header__navbar__item__link:hover {
  color: var(--primary-color);
}
.main .hero__header__button-container {
  display: flex;
  align-items: center;
  z-index: 1;
}
.main .hero__header__button-container__button {
  padding: var(--sign-up-button-padding-y) var(--sign-up-button-padding-x);
  border: none;
  border-radius: 20px;
  background-color: var(--accent-color);
  color: var(--neutral-color);
  font-size: var(--body-main-text-regular-font-size);
  transition: 500ms;
}
.main .hero__header__button-container__button:hover {
  background-color: var(--secondary-light-color);
}
.main .hero__content-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.main .hero__content-wrapper__left-content {
  z-index: 1;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.main .hero__content-wrapper__left-content__header-text-container {
  display: flex;
  align-items: center;
}
.main .hero__content-wrapper__left-content__header-text-container__text {
  line-height: var(--heading-h1-line-height);
  font-family: sans-serif;
  font-size: var(--heading-h1-font-size);
  font-weight: var(--heading-h1-font-weight);
  color: var(--neutral-color);
}
.main .hero__content-wrapper__left-content__main-text-container {
  display: flex;
  align-items: center;
  margin-top: 10%;
}
.main .hero__content-wrapper__left-content__main-text-container__text {
  line-height: var(--body-main-text-regular-line-height);
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  color: var(--neutral-color);
}
.main .hero__content-wrapper__left-content__button-container {
  display: flex;
  margin-top: 10%;
}
.main .hero__content-wrapper__right-content {
  transform: translateX(var(--phone-frame-image-translate-x)) translateY(var(--phone-frame-image-translate-y));
}
.main .hero__content-wrapper__right-content__image {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: var(--phone-frame-image-width);
  height: auto;
}
.main .feature-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 10% 0% 15%;
}
.main .feature-1__content {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.main .feature-1__content__left {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
}
.main .feature-1__content__left__header-text {
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: var(--heading-h2-font-size);
  font-weight: var(--heading-h2-font-weight);
  line-height: var(--heading-h2-line-height);
  color: var(--primary-color);
}
.main .feature-1__content__left__main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  font-weight: 100;
  line-height: var(--body-main-text-regular-line-height);
  color: var(--secondary-light-color);
}
.main .feature-1__content__right {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: flex-end;
}
.main .feature-1__content__right__card-image {
  width: var(--payment-card-image-width);
  transition: all 0.5s;
}
.main .feature-1__content__right__card-image:hover {
  transform: translateX(7px) translateY(-7px);
}
@media screen and (max-width: 800px) {
  .main .feature-1 {
    margin-top: 30%;
  }
}
.main .feature-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding: 0% 10% 0% 10%;
}
.main .feature-2__content {
  display: grid;
  grid-template-columns: 7fr 1fr 5fr 1fr;
}
.main .feature-2__content__left {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr;
  flex-direction: column;
  justify-content: space-evenly;
}
.main .feature-2__content__left__top {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.main .feature-2__content__left__top__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8% 11%;
  margin: 2%;
  background-color: #ffffff;
  border: 1px solid var(--stroke-color);
  border-radius: var(--card-border-radius);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
}
.main .feature-2__content__left__top__card__text-top {
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  color: #000000;
  margin-bottom: 20%;
}
.main .feature-2__content__left__top__card__text-bottom {
  font-family: sans-serif;
  font-size: var(--heading-h3-font-size);
  font-weight: var(--heading-h3-font-weight);
  color: var(--primary-color);
}
@media screen and (max-width: 500px) {
  .main .feature-2__content__left__top__card {
    padding: 8% 8%;
  }
}
.main .feature-2__content__left__top__card:hover {
  transform: translateX(7px) translateY(-7px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.main .feature-2__content__left__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.main .feature-2__content__left__bottom__chart-card {
  width: 100%;
  padding: 6.5% 10%;
  background-color: #ffffff;
  border: 1px solid var(--stroke-color);
  border-radius: var(--card-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
}
.main .feature-2__content__left__bottom__chart-card__image {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .main .feature-2__content__left__bottom__chart-card {
    min-width: 110%;
  }
}
.main .feature-2__content__left__bottom__chart-card:hover {
  transform: translateX(7px) translateY(-7px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.main .feature-2__content__right {
  margin-left: 5%;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .feature-2__content__right__header-text {
  font-family: sans-serif;
  font-size: var(--heading-h2-font-size);
  font-weight: var(--heading-h2-font-weight);
  line-height: var(--heading-h2-line-height);
  color: var(--primary-color);
}
.main .feature-2__content__right__main-text {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  font-weight: 100;
  line-height: var(--body-main-text-regular-line-height);
  color: var(--secondary-light-color);
}
.main .feature-2__content__right__button-container {
  margin-top: 6%;
  display: flex;
}
.main .feature-3 {
  margin-top: 10%;
  padding: 0% 8% 0% 12%;
}
.main .feature-3__content {
  display: grid;
  grid-template-columns: 4fr 1fr 6fr;
}
.main .feature-3__content__left {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main .feature-3__content__left__header-text {
  font-family: sans-serif;
  font-size: var(--heading-h2-font-size);
  font-weight: var(--heading-h2-font-weight);
  line-height: var(--heading-h2-line-height);
  color: var(--primary-color);
}
.main .feature-3__content__left__main-text {
  margin-top: 3%;
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  line-height: var(--body-main-text-regular-line-height);
  color: var(--secondary-light-color);
}
.main .feature-3__content__left__support-team {
  margin-top: 3%;
  display: flex;
}
.main .feature-3__content__left__support-team__image {
  width: 60%;
}
.main .feature-3__content__left__support-team__text {
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  line-height: var(--body-main-text-regular-line-height);
  color: var(--secondary-light-color);
}
.main .feature-3__content__right {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
}
.main .feature-3__content__right__chat-image {
  width: 80%;
}
@media screen and (max-width: 600px) {
  .main .feature-3__content__right__chat-image {
    width: 95%;
  }
}
.main .pricing {
  padding: 0% 10% 0% 8%;
  display: flex;
  justify-content: center;
}
.main .pricing__content {
  margin-top: 10%;
}
.main .pricing__content__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .pricing__content__header__text {
  display: flex;
  font-family: sans-serif;
  font-size: var(--heading-h3-font-size);
  font-weight: var(--heading-h3-font-weight);
  color: var(--primary-color);
}
.main .pricing__content__header__text__accented::before {
  content: " at the right price";
  font-size: var(--heading-h3-font-size);
  font-weight: var(--heading-h3-font-weight);
  color: var(--accent-color);
}
.main .pricing__content__header__subtext {
  text-align: center;
  margin-top: 3%;
  font-family: sans-serif;
  font-size: var(--intro-text-font-size);
  color: var(--secondary-dark-color);
}
.main .pricing__content__main {
  margin-top: 14%;
  display: flex;
}
.main .pricing__content__main__card-container {
  display: flex;
  justify-content: center;
}
.main .pricing__content__main__card-container .pricing-card {
  border: 0.5px solid var(--stroke-color);
  padding: 8%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border-radius: 50px;
  min-width: 75%;
  max-width: 75%;
  transition: all 0.5s;
}
.main .pricing__content__main__card-container .pricing-card__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.main .pricing__content__main__card-container .pricing-card__header__header-text {
  font-family: sans-serif;
  font-size: var(--heading-h3-font-size);
  color: #000000;
}
.main .pricing__content__main__card-container .pricing-card__header__price-text {
  margin-top: 13%;
  display: flex;
  align-items: flex-end;
  font-family: sans-serif;
  font-size: var(--heading-h1-font-size);
  color: #000000;
}
.main .pricing__content__main__card-container .pricing-card__header__price-text__per-month {
  font-size: var(--heading-h3-font-size);
}
.main .pricing__content__main__card-container .pricing-card__header__description-text {
  margin-top: 15%;
  text-align: center;
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  line-height: var(--body-main-text-regular-line-height);
  color: var(--secondary-light-color);
}
.main .pricing__content__main__card-container .pricing-card__header__button-container {
  margin-top: 10%;
  justify-content: center;
}
.main .pricing__content__main__card-container .pricing-card__header__payment-card-container {
  margin-top: 5%;
  display: flex;
  width: 140%;
}
.main .pricing__content__main__card-container .pricing-card__header__payment-card-container__payment-card-image {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .main .pricing__content__main__card-container .pricing-card__header__payment-card-container {
    margin-top: 10%;
  }
}
@media screen and (max-width: 600px) {
  .main .pricing__content__main__card-container .pricing-card__header__payment-card-container {
    margin-top: 15%;
  }
}
.main .pricing__content__main__card-container .pricing-card__advantages-list {
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
}
.main .pricing__content__main__card-container .pricing-card__advantages-list li {
  background-image: url("../src/images/check.png");
  background-size: var(--check-size);
  background-repeat: no-repeat;
  padding-left: 10%;
  margin-bottom: 5%;
}
@media screen and (max-width: 500px) {
  .main .pricing__content__main__card-container .pricing-card__advantages-list li {
    padding-left: 20%;
  }
}
.main .pricing__content__main__card-container .pricing-card__advantages-list-disabeled {
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  color: #B7B7B7;
}
.main .pricing__content__main__card-container .pricing-card__advantages-list-disabeled li {
  background-image: url("../src/images/disabled-check.png");
  background-size: var(--check-size);
  background-repeat: no-repeat;
  padding-left: 10%;
  margin-bottom: 5%;
}
@media screen and (max-width: 500px) {
  .main .pricing__content__main__card-container .pricing-card__advantages-list-disabeled li {
    padding-left: 20%;
  }
}
.main .pricing__content__main__card-container .pricing-card__advantages-list-accented {
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  color: var(--secondary-dark-color);
}
.main .pricing__content__main__card-container .pricing-card__advantages-list-accented li {
  background-image: url("../src/images/check.png");
  background-size: var(--check-size);
  background-repeat: no-repeat;
  padding-left: 10%;
  margin-bottom: 5%;
}
@media screen and (max-width: 500px) {
  .main .pricing__content__main__card-container .pricing-card__advantages-list-accented li {
    padding-left: 20%;
  }
}
@media screen and (max-width: 1000px) {
  .main .pricing__content__main__card-container .pricing-card {
    min-width: 90%;
    max-width: 90%;
    padding: 10%;
    border-radius: 40px;
  }
}
@media screen and (max-width: 800px) {
  .main .pricing__content__main__card-container .pricing-card {
    min-width: 90%;
    max-width: 90%;
    padding: 10%;
    border-radius: 30px;
  }
}
@media screen and (max-width: 500px) {
  .main .pricing__content__main__card-container .pricing-card {
    min-width: 90%;
    max-width: 90%;
    padding: 10%;
    border-radius: 20px;
  }
}
.main .pricing__content__main__card-container .pricing-card:hover {
  transform: translateX(10px) translateY(-10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.main .faqs {
  margin-top: 15%;
  margin-bottom: 10%;
  padding: 0% 10% 0% 8%;
  display: flex;
  justify-content: center;
}
.main .faqs__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .faqs__content__header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main .faqs__content__header__text {
  display: flex;
  font-family: sans-serif;
  font-size: var(--heading-h3-font-size);
  font-weight: var(--heading-h3-font-weight);
  line-height: var(--heading-h3-line-height);
  color: var(--primary-color);
}
.main .faqs__content__header__text__accented::before {
  content: " asked questions";
  color: var(--accent-color);
}
.main .faqs__content__header__subtext {
  text-align: center;
  width: 50%;
  margin-top: 3%;
  font-family: sans-serif;
  font-size: var(--intro-text-font-size);
  line-height: var(--body-main-text-regular-line-height);
  color: var(--secondary-light-color);
}
.main .faqs__content__main {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .faqs__content__main .faq-card {
  margin-top: 2%;
  background-color: #ffffff;
  border: 0.2px solid var(--stroke-color);
  border-radius: 22px;
  padding: 2.5%;
  width: 85%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
  transition: all 0.5s;
}
.main .faqs__content__main .faq-card__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .faqs__content__main .faq-card__content__text {
  font-family: sans-serif;
  font-size: var(--heading-h4-font-size);
  font-weight: var(--heading-h4-font-weight);
  line-height: 1.2em;
  color: var(--secondary-dark-color);
}
.main .faqs__content__main .faq-card__content__icon-container {
  width: 4%;
}
.main .faqs__content__main .faq-card__content__icon-container__icon {
  width: var(--plus-icon-width);
  height: auto;
}
@media screen and (max-width: 800px) {
  .main .faqs__content__main .faq-card {
    border-radius: 15px;
    width: 95%;
    padding: 4%;
  }
}
.main .faqs__content__main .faq-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.main .footer {
  background-color: #dce2f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .footer__content {
  padding: 1%;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 5fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}
.main .footer__content__left {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
}
.main .footer__content__left__copyright-text {
  margin: auto;
  max-width: 100%;
  word-wrap: break-word;
  margin-top: 10%;
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  line-height: var(--body-main-text-regular-line-height);
  color: var(--secondary-light-color);
}
.main .footer__content__left__logo-container__logo {
  width: 20%;
}
@media screen and (max-width: 800px) {
  .main .footer__content__left__logo-container__logo {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .main .footer__content__left__logo-container__logo {
    width: 40%;
  }
}
.main .footer__content__right {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.main .footer__content__right__link-list {
  display: grid;
  grid-gap: 10%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.main .footer__content__right__link-list__list-element {
  padding: 1%;
}
.main .footer__content__right__link-list__list-element__link {
  font-family: sans-serif;
  font-size: var(--body-main-text-regular-font-size);
  line-height: var(--body-main-text-regular-line-height);
  color: var(--secondary-dark-color);
  text-decoration: none;
  transition: all 0.5s;
}
.main .footer__content__right__link-list__list-element__link:hover {
  color: var(--primary-color) !important;
}/*# sourceMappingURL=style.css.map */