:root {
    // COLORS
    --primary-color: #544dde;
    --accent-color: #f44e78;
    --neutral-color: #f2f6ff;
    --stroke-color: #cad6f1;
    --secondary-light-color: #6a6d9e;
    --secondary-dark-color: #16194f;

    // FONTS

    //Heading h1
    --heading-h1-font-size: 60px;
    --heading-h1-font-weight: 700;
    --heading-h1-line-height: 1.6em;

    //Body main text regular
    --body-main-text-regular-font-size: 20px;
    --body-main-text-regular-line-height: 1.6em;

    // PHONE FRAME IMAGE
    // Size
    --phone-frame-image-width: 900px;
    // Transform
    --phone-frame-image-translate-x: -120px;
    --phone-frame-image-translate-y: -70px;

    // MEDIA QUERIES
    @media(max-width: 1200px) {
        --heading-h1-font-size: 50px;
        --heading-h1-line-height: 1.5em;
        --phone-frame-image-width: 500px;
        --body-main-text-regular-font-size: 25px;
        --body-main-text-regular-line-height: 1.5em;
        --phone-frame-image-translate-x: 0px;
        --phone-frame-image-translate-y: 70px;
    }

    // @media(max-width: 1200px) {
    //     --heading-h1-font-size: 40px;
    //     --heading-h1-line-height: 1.4em;
    //     --body-main-text-regular-line-height: 1.4em;
    //     --phone-frame-image-width: 550px;
    //     --phone-frame-image-translate-x: -90px;
    //     --phone-frame-image-translate-y: -20px;

    // }

    // @media(max-width: 1000px) {
    //     --heading-h1-font-size: 30px;
    //     --heading-h1-line-height: 1.3em;
    //     --body-main-text-regular-line-height: 1.3em;
    //     --phone-frame-image-width: 450px;
    //     --phone-frame-image-translate-x: -70px;
    //     --phone-frame-image-translate-y: 20px;
    // }

    // @media(max-width: 800px) {
    //     --heading-h1-font-size: 25px;
    //     --heading-h1-line-height: 1.2em;
    //     --body-main-text-regular-line-height: 1.2em;
    //     --phone-frame-image-width: 400px;
    //     --phone-frame-image-translate-x: -40px;
    //     --phone-frame-image-translate-y: 50px;

    // }

    // @media(max-width: 600px) {
    //     --heading-h1-font-size: 20px;
    //     --heading-h1-line-height: 1.1em;
    //     --body-main-text-regular-line-height: 1.1em;
    //     --phone-frame-image-width: 320px;
    //     --phone-frame-image-translate-x: -20px;
    //     --phone-frame-image-translate-y: 70px;

    // }


}

html {
    scroll-behavior: smooth;

    a {
        text-decoration: none;
        color: var(--neutral-color);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    background-color: var(--neutral-color);
    z-index: -2;
    position: relative;

    .hero {
        position: relative;
        height: 1500px;
        width: 100%;

        &::before {
            content: "";
            background: url('../src/images/mask_group.png') no-repeat center top / cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60%;
            z-index: -1;
        }


        &__header {
            display: flex;
            justify-content: space-evenly;
            padding: 40px 0px 0px 0px;

            &__navbar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;
                color: var(--neutral-color);
                font-family: sans-serif;
                font-size: var(--body-main-text-regular-font-size);
                font-weight: 100;
            }

            &__button-container {
                display: flex;
                align-items: center;

                &__button {
                    padding: 18px 60px;
                    border-radius: 17px;
                    background-color: var(--accent-color);
                    color: var(--neutral-color);
                    border: none;
                    font-size: 17px;
                }
            }

            &__logo-container {
                &__logo {
                    user-select: none;
                }
            }
        }

        &__content-wrapper {
            display: flex;
            justify-content: space-evenly;

            &__left-content {
                margin-left: 12%;
                display: flex;
                flex-direction: column;
                margin-top: 150px;

                &__header-text-container {
                    display: flex;
                    align-items: center;

                    &__text {
                        line-height: var(--heading-h1-line-height);
                        font-family: sans-serif;
                        font-size: var(--heading-h1-font-size);
                        font-weight: var(--heading-h1-font-weight);
                        color: var(--neutral-color);
                    }
                }

                &__main-text-container {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;

                    &__text {
                        line-height: var(--body-main-text-regular-line-height);
                        font-family: sans-serif;
                        font-size: var(--body-main-text-regular-font-size);
                        color: var(--neutral-color);
                    }
                }

                &__button-container {
                    display: flex;
                    justify-content: baseline;
                    margin-top: 50px;

                    &__button {
                        background: url('../src/images/register_button_bg.png') no-repeat center;
                        background-color: var(--secondary-dark-color);
                        width: 200px;
                        height: 54px;
                        border-radius: 20px;
                        border: none;
                    }
                }

            }

            &__right-content {
                transform: translateX(var(--phone-frame-image-translate-x)) translateY(var(--phone-frame-image-translate-y));

                &__image {
                    user-select: none;
                    width: var(--phone-frame-image-width);
                    height: auto;
                }
            }
        }
    }

    .feature-1 {
        height: 1500px;
    }

    .feature-2 {
        height: 1500px;
    }

    .feature-3 {
        height: 1500px;
    }

    .footer {
        height: 1500px;
    }

}